Repository qwedc001/Peeper-Board-Generator, pull requests merged in 2024-08, with the labels that each got.

#20 [qwedc001] 增加更多命令行内容
  main.py
  module/Hydro/entry.py
  module/Hydro/user.py
  module/handler.py
  module/utils.py
  test/common_tests.py
Labels: enhancement, module:main

#25 [qwedc001] 进行按照时间戳的排序工作
  module/board/misc.py
  module/submission.py
Labels: bug, module:main, module:misc_board

#29 [qwedc001] （小版本更新）主程序模块优化
  .gitignore
  README.md
  config_example.json
  configs_example.json
  main.py
  module/Hydro/entry.py
  module/Hydro/ranking.py
  module/Hydro/submission.py
  module/Hydro/tools.py
  module/Hydro/user.py
  module/ImgConvert.py
  module/board/misc.py
  module/config.py
  module/handler.py
  module/structures.py
  module/submission.py
  module/utils.py
  test/common_tests.py
  test/hydro_tests.py
  test/image_tests.py
Labels: enhancement, help wanted, module:main

#34 fix(readme.md):修复拼写错误
  README.md
Labels: documentation

#36 修复用户查询的 cookie 获取问题
  README.md
  module/Hydro/entry.py
  module/Hydro/user.py
Labels: bug
